.save_btn{
    background: linear-gradient(154.49deg, #519259 6.44%, #89D292 103.42%);
    box-shadow: 15px 15px 60px rgba(81, 146, 89, 0.35);
    border: none;
    font-weight: 700;
    font-size: 21px;
    width: 100%;
}

.reset_psw_btn{
    background: linear-gradient(154.49deg, #FEBD2E 6.44%, #F8E2B296 103.42%);
    box-shadow: 15px 15px 60px rgba(254, 189, 46, 0.3);
    border: none;
    font-weight: 700;
    font-size: 21px;
    width: 100%;
}

.rate_btn{
    background: linear-gradient(154.49deg, #519259 6.44%, #89D292 103.42%);
    border: none;
    font-weight: 500;
    font-size: 19px;
    width: 100%;
}

.reset_psw_form{
    box-shadow: 15px 15px 60px rgba(254, 189, 46, 0.3);
}

.change_psw_text{
    color: rgba(254, 189, 46, 1);
}

.navbar_text{
    color: #519259;
}
