{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <section class="log_in">
        <div class="log_in_outer">
            <h3 class="login_title">Sign In</h3>
            <div class="login_info_text">
                Just sign in if you have an account in here. Enjoy our Website
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success alert_msg">{{ message }}</div>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger alert_msg">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="form_outer">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col mt-3">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <div class="d-grid">
                                <button class="btn btn-primary login_btn" type="submit">Get Started</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}